awscli==1.11.41
awsebcli==3.9.0
botocore==1.5.4
cement==2.8.2
clarifai==2.0.17
click==6.7
colorama==0.3.7
configparser==3.5.0
Django==1.10.6
django-chartit==0.2.9
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
enum34==1.1.6
Flask==0.12.2
Flask-Login==0.4.1
Flask-PyMongo==0.5.1
future==0.15.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.0
jsonschema==2.5.1
MarkupSafe==1.0
pathspec==0.5.0
pyasn1==0.1.9
pygame==1.9.3
pymongo==3.6.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.10
semantic-version==2.5.0
six==1.10.0
tabulate==0.7.5
websocket-client==0.40.0
Werkzeug==0.14.1
